:root {
  --hero-background: #f8f0df;
  --hero-text-color: #6a3c0a;
}
.section-container {
  margin-bottom: 50px;
}
.swip-container-img {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 !important;
  margin: 0 !important;
  position: relative;
  height: 400px;
}

.swip-container-img img {
  width: 350px;
  height: auto;

  object-fit: cover;
  border-radius: 10px;
  transition: transform 0.3s ease;
}

.des-section-container .upperbox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 25px;
  /* margin-top: 50px; */
  direction: rtl;
  color: var(--hero-text-color);
}

.section-title {
  font-size: 32px;
  font-weight: 600;
  color: var(--hero-text-color);
}

.option_box {
  padding: 5px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  direction: rtl;
  color: var(--hero-text-color);
  background-color: var(--hero-background);
  border-radius: 20px;
  border: 0;
  border: none;
}

.option_box:hover {
  background-color: #efe2cf;
  cursor: pointer;
  border: none;
  transition: background-color 0.3s ease;
}

.option_box option:focus {
  outline: none;
}

/* .swip-img:hover {
  filter: brightness(0.5);
  transition: filter 0.3s ease;
  transform: scale(1.005);
  transition: transform 0.3s ease;
} */
.overlay-text {
  display: none;
}

.swip-container-img:hover .overlay-text {
  display: block;
  position: absolute;
  top: 50%;
  width: 350px;
  height: 100%;
  font-size: 1.5rem;
  font-weight: bold;
  color: transparent;
  -webkit-text-stroke: 1px white;
  text-align: center;
  cursor: pointer;
}

.swip-container-img:hover img {
  filter: brightness(0.5);
  transition: filter 0.3s ease;
  transform: scale(1.02);
  transition: transform 0.3s ease;
}
@media (max-width: 1280px){

  .swip-container-img:hover img {
  filter: brightness(none);
  
  transform: scale(none);

}

  .section-title{
    font-weight: 600 !important;
  }
  .swip-container-img img {
width: 300px;
  }

   .overlay-text {
    display: block !important;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100% !important;
     font-size: 1.2rem;
  font-weight: bold;
  color: transparent;
  -webkit-text-stroke: 0.5px white;
  text-align: center;
  cursor: pointer;
  text-align: center !important;
  }

  .swip-container-img img {
    filter: brightness(0.5);
    text-align: center !important;
  }

  .swip-container-img:hover img,
  .swip-container-img:hover .overlay-text {
    filter: none;
    transform: none;
  }
  .des-section-container .upperbox {
  margin-top: 15px;
}

}
@media (max-width: 1024px) {
  .section-title {
    font-size: 20px;
  }

  .option_box {
    font-size: 13px;

  }

  .swiper-container {
    width: 100%;
    overflow: hidden;
    text-align: center !important;
  }

.swip-container-img{
  height: auto;
  width: 100% !important;
  justify-content: start !important;
  text-align: center !important;
}

  .swip-container-img img {
width: 200px;
  }
.swiper-slide {
    width: 220px !important;
    text-align: center !important;
}

}

@media (max-width: 768px) {

  .section-title {
    font-size: 24px;
  }
  .swiper-container {
    width: 100%;
    overflow: hidden;
    text-align: center !important;
  }

.swip-container-img{
  height: auto;
  text-align: center !important;
}
  .swip-container-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    text-align: center !important;
    
  }




}


@media (max-width: 480px) {
   .des-section-container .upperbox {
  margin-top: 25px;
}
  .section-title {
    font-size: 20px;
  }

  .option_box {
    font-size: 13px;

  }

  .swiper-container {
    width: 100%;
    overflow: hidden;
    text-align: center !important;
  }

.swip-container-img{
  height: auto;
  width: 100% !important;
  justify-content: start !important;
  text-align: center !important;
}

  .swip-container-img img {
    width: 200px;
    height: auto;
    object-fit: cover;
    text-align: center !important;
  }
.swiper-slide {
    width: 220px !important;
    text-align: center !important;
}

}
