.go-sell-section {
  background-image: url(../../../public/imgs/section-cover2.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top right; 
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-inline: 5%;
  position: relative;
}

.go-sell-section .leftside {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  /* text-align: right; */
  margin-left: 160px;
}

.go-sell-section .sell-line {
  font-size: 38px;
  font-weight: 800;
  color: var(--hero-text-color);
}

.go-sell-section .sell-btn {
  font-size: 18px;
  color: var(--hero-text-color);
  background: transparent;
  border: none;
  align-self: flex-start;
  transition: all 0.3s ease;
}

.go-sell-section .sell-btn:hover {
  color: var(--brown-hover);
  transform: scale(1.05);
}


@media (max-width: 1280px) {
  .go-sell-section {
    background-position: center right;
    height: 90vh;
    padding-inline: 10%;
    margin: 0 !important;
  }

  .go-sell-section .leftside {
    width: 50%;
  }

  .go-sell-section .sell-line {
    font-size: 32px;
  }
}


@media (max-width: 1024px) {
  .go-sell-section {
    background-position: center;
    background-size: cover;
    height: 80vh;
    justify-content: center;
    text-align: center;
  }

  .go-sell-section .leftside {
    width: 60%;
    text-align: left;
    margin: 0 !important;
  }

  .go-sell-section .sell-line {
    font-size: 30px;
    font-weight: 700;
  }

  .go-sell-section .sell-btn {
   font-size: 15px;
    align-self: flex-start;
  }
}


@media (max-width: 768px) {
  .go-sell-section {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 75vh;
    background-position: center;
  }

  .go-sell-section .leftside {
    width: 60%;
    text-align: left;
    margin: 0 !important;
  }

  .go-sell-section .sell-line {
    font-size: 26px;
    font-weight: 700;
  }
   .go-sell-section .sell-btn {
    font-size: 15px;
    align-self: flex-start;
  }
}


@media (max-width: 480px) {
  .go-sell-section {
    height: 65vh;
    background-position: center top;
    padding-inline: 20px;
  }

  .go-sell-section .leftside {
    width: 80%;
    text-align: left;
  }

  .go-sell-section .sell-line {
    font-size: 22px;
    font-weight: 650;
  }

  .go-sell-section .sell-btn {
    font-size: 14px;
    align-self: flex-start;
  }
}
