:root {
  --hero-background: #f8f0df;
  --hero-text-color: #6a3c0a;
  --button-background: #c0e399;
  --lable-background: #f8afb5;
  --brown-hover: #462707;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

.go-sell-section {
  background-image: url(../../../public/imgs/section-cover2.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  height: 100vh;
  width: 100vw;
  display: flex;
  margin-top: -50px;
}

.go-sell-section .leftside {
  width: 40%;
  height: 110%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  margin-left: 260px;
  text-align: right;
}

.go-sell-section .sell-line {
  font-size: 38px;
  font-weight: 800;
  color: var(--hero-text-color);
}

.go-sell-section .sell-btn {
  font-size: 18px;
  color: var(--hero-text-color);
  align-self: start;
  margin-left: 100px;
}

.go-sell-section .sell-btn:hover {
  color: var(--brown-hover);
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  transform: scale(1.02);
}

.explain {
  color: #777;
  font-size: 14px;
}
