:root {
  --hero-background: #f8f0df;
  --hero-text-color: #6a3c0a;
}
body {
  font-family: "Kufam", sans-serif;
}
.hero {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 60vh;
  background-color: var(--hero-background);
  color: var(--hero-text-color);
}

.right_side {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.left_side {
  width: 35%;
  display: flex;
  align-items: center;
  justify-content: center;
  direction: rtl;
  position: relative;
  margin-left: 30px;
}
.hero_logo {
  max-width: 520px;
  height: auto;
}

.hero_title {
  font-size: 20px;
  font-weight: 600;
  color: var(--hero-text-color);
}

.lefttext {
  font-size: 20px;
  font-weight: bold;
  align-self: center;
  margin-bottom: 10px;
  color: var(--hero-text-color);
}

.hero_item1 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  bottom: 0;
  right: 0;
}
.hero_item2 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  top: 0;
  right: 45%;
}
.hero_item3 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  bottom: 0;
  left: 0;
}

.leftflower1 {
  position: absolute;
  top: 0px;
  right: 50px;
}

.leftflower2 {
  position: absolute;
  top: 0;
  left: 60px;
}
