:root {
  --hero-background: #f8f0df;
  --hero-text-color: #6a3c0a;
}
body {
  font-family: "Kufam", sans-serif;
}
.hero {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  min-height: 60dvh; /* الحل الأساسي */
  background-color: var(--hero-background);
  color: var(--hero-text-color);
  padding: 40px 20px;
  box-sizing: border-box;
}


.right_side {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.left_side {
  width: 35%;
  display: flex;
  align-items: center;
  justify-content: center;
  direction: rtl;
  position: relative;
  margin-left: 30px;
}
.hero_logo {
  max-width: 520px;
  height: auto;
}

.hero_title {
  font-size: 20px;
  font-weight: 600;
  color: var(--hero-text-color);
}

.lefttext {
  font-size: 20px;
  font-weight: bold;
  align-self: center;
  margin-bottom: 10px;
  color: var(--hero-text-color);
}

.hero_item1 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  bottom: 0;
  right: 0;
}
.hero_item2 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  top: 0;
  right: 45%;
}
.hero_item3 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  bottom: 0;
  left: 0;
}

.leftflower1 {
  position: absolute;
  top: 0px;
  right: 50px;
}

.leftflower2 {
  position: absolute;
  top: 0;
  left: 60px;
}


/* -------- Responsive -------- */

@media (max-width: 1368px) {
  .hero {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  min-height: 50dvh; /* الحل الأساسي */
  background-color: var(--hero-background);
  color: var(--hero-text-color);
  padding: 40px 20px;
  box-sizing: border-box;
}
  .hero_logo {
    max-width: 360px;
  }
  .leftimg {
    width: 50px;
    height: 50px;
  }
  .lefttext {
    font-size: 18px;
  }
  .leftflower1,
  .leftflower2 {
    width: 65px;
  }
}

@media (max-width: 820px) {
  .hero {
    flex-direction: column !important;
    min-height: auto;
    padding: 50px 10px;
    align-items: center;
    justify-content: center;
    gap: 30px;
  }
.hero_logo {
    max-width: 300px !important;
  }


  .right_side {
    order: 1;
  }

  .left_side {
    order: 2;
    position: static;
    gap: 30px;
    margin: auto;
  }

  .hero_item1,
  .hero_item2,
  .hero_item3 {
    position: static;
  }

  .leftflower1,
  .leftflower2 {
    display: none;
  }

  .hero_logo {
    max-width: 300px;
  }

  .hero_title {
    font-size: 16px;
  }

  .lefttext {
    font-size: 16px;
  }
}

@media (max-width: 480px) {
   .hero_logo {
    max-width: 220px !important;
  }
      .hero_title {
        font-size: 15px;
        margin-top: 10px;
    }

        .lefttext {
        font-size: 15px;
    }
  .hero {
    padding: 40px 10px;
  }
  .leftimg {
    width: 45px;
    height: 45px;
    margin-bottom: 15px;
  }
}