:root {
  --hero-background: #f8f0df;
  --hero-text-color: #6a3c0a;
}
body {
  font-family: "Kufam", sans-serif;
}
.hero {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 60vh;
  background-color: var(--hero-background);
  color: var(--hero-text-color);
}

.right_side {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.left_side {
  width: 35%;
  display: flex;
  align-items: center;
  justify-content: center;
  direction: rtl;
  position: relative;
  margin-left: 30px;
}
.hero_logo {
  max-width: 520px;
  height: auto;
}

.hero_title {
  font-size: 20px;
  font-weight: 600;
  color: var(--hero-text-color);
}

.lefttext {
  font-size: 20px;
  font-weight: bold;
  align-self: center;
  margin-bottom: 10px;
  color: var(--hero-text-color);
}

.hero_item1 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  bottom: 0;
  right: 0;
}
.hero_item2 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  top: 0;
  right: 45%;
}
.hero_item3 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  bottom: 0;
  left: 0;
}

.leftflower1 {
  position: absolute;
  top: 0px;
  right: 50px;
}

.leftflower2 {
  position: absolute;
  top: 0;
  left: 60px;
}


@media (max-width: 768px) {
  .hero {
    flex-direction: column;
    height: auto;
    padding: 30px 10px;
    text-align: center;
  }
  .hero_title {
    margin-top: 15px;
        font-size: 16px;

    }
.hero_logo{
  margin-bottom: 50px;
}

  .left_side {
    width: 100%;
    margin: 0;
    position: static;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 50px;
    order: 2; 
  }

  .right_side {
    order: 1;
    display: flex;
    flex-wrap: wrap; 
    flex-direction: column-reverse;
  }

  .hero_item1,
  .hero_item2,
  .hero_item3 {
    position: static;
    flex-direction: column;
    text-align: center;
  }

  .leftflower1,
  .leftflower2 {
    display: none; 
  }

  .hero_logo {
    max-width: 300px;
  }


  .lefttext {
    font-size: 16px;
  }

  .leftimg {
    /* width: 50px; */
    height: 50px;
  }
}
