:root {
  --hero-background: #f8f0df;
  --hero-text-color: #6a3c0a;
  --button-background: #c0e399;
  --lable-background: #f8afb5;
  --brown-hover: #462707;
}
.new-sec-con .cards-display {
  display: grid;
  grid-template-columns: repeat(3, minmax(300px, 1fr));
  gap: 15px;
}

.sectionfooter {
  display: flex;
  justify-content: left;
  color: var(--hero-text-color);
  font-size: 16px;
}

.sectionfooter:hover {
  cursor: pointer;
  color: var(--brown-hover);
  transform: scale(1.02);
  transition: color 0.3s ease;
}




@media (max-width: 1024px) {
  .new-sec-con.cards-display {
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    margin: auto;
    margin-left: 80px;
    
  }

    .section-title {
    font-size: 24px;
    font-weight: 700;
  }
  

}

@media (max-width: 992px) {
  .new-sec-con.cards-display {
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    margin: auto;
    margin-left: 20px;
  }

    .section-title {
    font-size: 24px;
    font-weight: 700;
  }
  

}

@media (max-width: 766px) {
  .new-sec-con.cards-display {
    display: flex;
    overflow-x: auto;
    gap: 15px;
    scroll-snap-type: x mandatory;
    padding-bottom: 10px;
  }

  .cards-display::-webkit-scrollbar {
    display: none; 
  }

  .cards-display > * {
    flex: 0 0 80%; 
    scroll-snap-align: start;
  }

  .section-title {
    font-size: 24px;
    font-weight: 600;
  }

  .sectionfooter {
    font-size: 15px;
  }
}

/* 📱 الشاشات الصغيرة جدًا */
@media (max-width: 480px) {
  .new-sec-con.cards-display > * {
    flex: 0 0 90%;
  }

  .section-title {
    font-size: 20px;
  }

  .sectionfooter {
    font-size: 14px;
  }
}
