:root {
  --hero-background: #f8f0df;
  --hero-text-color: #6a3c0a;
  --button-background: #c0e399;
  --lable-background: #f8afb5;
  --brown-hover: #462707;
}

/* 🌟 الأساس */
.new-sec-con .cards-display {
  display: grid;
  grid-template-columns: repeat(3, minmax(300px, 1fr));
  gap: 15px;
}

.sectionfooter {
  display: flex;
  justify-content: left;
  color: var(--hero-text-color);
  font-size: 16px;
}
.new-sec-con .upperbox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 25px;
  margin-top: 50px;
  direction: rtl;
  color: var(--hero-text-color);
}

.sectionfooter:hover {
  cursor: pointer;
  color: var(--brown-hover);
  transform: scale(1.02);
  transition: color 0.3s ease;
}

/* 💻 من 1024 */
@media (max-width: 1368px) {
  .new-sec-con .cards-display {
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    margin: auto;
    margin-left: 80px;
  }

  .section-title {
    font-size: 24px;
    font-weight: 700;
  }
}
@media (max-width: 1024px) {
  .new-sec-con .cards-display {
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    margin: auto;
    margin-left: 80px;
  }

  .section-title {
    font-size: 24px;
    font-weight: 700;
  }
}
/* 💻 من 992 */
@media (max-width: 992px) {
  .new-sec-con .cards-display {
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    margin: auto;
  }

  .section-title {
    font-size: 24px;
    font-weight: 700;
  }
}

/* 📱 من 766 */
@media (max-width: 766px) {
  .new-sec-con .cards-display {
    display: flex;
    overflow-x: auto;
    gap: 15px;
    scroll-snap-type: x mandatory;
    padding-bottom: 10px;
  }

  .new-sec-con .cards-display::-webkit-scrollbar {
    display: none;
  }

  .new-sec-con .cards-display > * {
    flex: 0 0 55% !important;
    scroll-snap-align: start;
    margin: auto !important;
  }

  .section-title {
    font-size: 24px;
    font-weight: 600;
  }

  .sectionfooter {
    font-size: 15px;
  }
}
@media (max-width: 542px) {
    .new-sec-con .cards-display > * {
        flex: 0 0 62% !important;
        scroll-snap-align: start;
    }
  }

@media (max-width: 480px) {
  .new-sec-con .cards-display > * {
    flex: 0 0 95% !important;
  }

  .section-title {
    font-size: 20px;
  }

  .sectionfooter {
    font-size: 14px;
  }
}
