:root {
  --hero-background: #f8f0df;
  --hero-text-color: #6a3c0a;
  --button-background: #c0e399;
  --lable-background: #f8afb5;
}

.section-container {
  width: 85%;
  margin: 0 auto;
}

.offers-section {
  display: flex;
  justify-content: space-around !important;
  align-items: center;
  margin: 80px 0 !important;
  gap:60px;
}

.offerline {
  background-image: url("../../../public/imgs/offer-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 356px;
  width: 367px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
}

.line {
  font-size: 40px;
  font-weight: 800;
  width: 50%;
  text-align: end;
  color: var(--hero-text-color);
}

.offers-section .mySwiper {
  width: 100%;
}

.section-container-offers .sectionfooter {
  margin-top: -80px !important;
  justify-content: right;
}

/* 🧭 منع ظهور نص كارت على الجنب */
  .offers-section  .swiper {
  overflow: hidden !important;
}

  .offers-section  .swiper-wrapper {
  display: flex;
  align-items: stretch;
}

  .offers-section  .swiper-slide {
  flex: 0 0 auto;
  width: auto !important;
  display: flex;
  justify-content: center;
}

  .offers-section .card {
  width: 275px;
  flex-direction: column !important;
  background-color: var(--hero-background);
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  transition: transform 0.3s ease;
}

 .offers-section .card .maindata{
  flex-direction: column !important;
}

.offers-section .card .maininfo {
        text-align: center;
    }

/* .card:hover {
  transform: scale(1.001);
} */

@media (max-width:1024px) {
  .offers-section {
  gap:20px;
}

.offerline{
  width: 280px;
  height: 280px;
}
  .line{
    font-size: 30px;
  }
}

/* 🎯 موبايل */
@media (max-width: 768px) {
  .offers-section {
    flex-direction: column;
    margin: 40px 0 !important;
  }

  .offerline {
    background: none;
    width: 100%;
    height: auto;
    justify-content: flex-start;
    padding: 0 10px;
    margin: 0 0 20px 0;
  }

  .line {
    font-size: 22px;
    font-weight: 700;
    text-align: right;
    width: 100%;
  }

  .offers-section .mySwiper {
    width: 100%;
    overflow: hidden; 
  }

    .offers-section  .swiper-slide {
    width: 100% !important; 
  }

  .section-container-offers .sectionfooter {
    justify-content: end;
    margin-top: 20px !important;
  }
}
