:root {
  --hero-background: #f8f0df;
  --hero-text-color: #6a3c0a;
  --button-background: #c0e399;
  --lable-background: #f8afb5;
  --brown-hover: #462707;
}
.seller-container {
  margin-top: 80px;
}

.slider-container {
  margin-left: 50px;
  
}
.section-subtitle {
  margin-left: 20px;
}

.section-subtitle:hover {
  color: var(--brown-hover);
  cursor: pointer;
  text-decoration: underline;
  transform: scale(1.02);
  transition: color 0.3s ease;
}

@media (max-width: 766px) {
  
  .seller-container{
    margin-top: 50px !important;
    height: auto;
    margin-bottom: 30px;
    width: 95%;
  }
.slider-container{
  margin-left: 0;
}
.slick-dots{
  bottom: 10 !important;
  flex-wrap: wrap;
  height: 20px;
}
.sec-title{
  width: 95%;
  text-align: center;
}
  .seller-container .upperbox{
  justify-content: center;
  margin: 25px auto;
}
}

@media (max-width: 362px) {
  
  .seller-container{
    margin-top: 50px !important;
    height: auto;
    margin-bottom: 30px;
    width: 100%;
  }

}