
:root {
  --hero-background: #f8f0df;
  --hero-text-color: #6a3c0a;
  --button-background: #c0e399;
  --lable-background: #f8afb5;
  --button-hover: #a8d88c;
  --brown-hover: #462707;
  --button-cart: #C0E399;
  --inner: #F1E8D3;
}

.cart-empty {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 400px;
    text-align: center;
    padding: 3rem;
    direction: rtl;
}

.cart-empty h3 {
    margin-bottom: 3rem;
    font-weight: 600;
}

.continue-btn {
    display: inline-block;
    background-color: var(--button-background);
    color: #000;
    padding: 10px 20px;
    border-radius: 8px;
    text-decoration: none;
    border: 1px solid #000;
    transition: 0.2s;
}

.continue-btn:hover {
    background-color: var(--button-hover);
}



.cart-page {
    min-height: 600px;
    padding: 2rem;
    direction: rtl;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
}

.cart-table {
    width: 80%;
    /* border-collapse: collapse; */
    margin: 1rem auto;
    background: #fff;
    text-align: start;
    border-radius: 10px;
    overflow: hidden;
    border: 1px solid #000 !important;
}

.cart-table th,
.cart-table td {
    border: 1px solid #ddd;
    padding: 10px 20px;
}

.cart-table th {
    /* background: #cde4c0; */
    background: var(--inner);
    
}

.cart-footer {
    margin-top: 20px;
    text-align: center;
}

.cart-buttons {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-top: 3rem;
}

.pay-proceed{
    display: flex;
    flex-direction: column;
    width: 50%;
}

.checkout-btn {
    width: 100%;
    height: 47px;
    border: 1px solid #000;
    background: var(--button-background);
    padding: 10px 25px;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.2s;
}

.checkout-btn:hover {
    background: #91c46a;
}

.clear-btn {
    width: 50%;
    height: 47px;
    border: 1px solid #000;
    background: var(--lable-background);
    padding: 10px 25px;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.2s;
}

.clear-btn:hover {
    background: #eb9b9b;
}

.delete-btn {
    background: transparent;
    border: none;
    cursor: pointer;
    font-size: 18px;
}

.quentity{
    border: 1px solid #000;
    padding: 5px;
    width: 80px;
    height: 30px;
    border-radius: 5px;
}

.product-link {
    color: #000;
    text-decoration: none;
    font-weight: 560;
}
.product-link:hover {
    text-decoration: underline;
}
.whatsapp-info {
    font-size: 0.85rem;
    color: #666;
    margin-top: 6px;
    margin-bottom: 12px;
    text-align: center;
    font-style: italic;
}

@media (max-width: 992px) {
        .cart-page h3{
            margin-top: 20px;
        }
  .cart-table {
    width: 95%;
  }
}

@media (max-width: 768px) {
  .cart-page {
    padding: 1rem;
  }

  .cart-table {
    font-size: 14px;
  }

  .cart-table th,
  .cart-table td {
    padding: 8px;
  }

  .quentity {
    width: 60px;
    height: 28px;
    font-size: 13px;
  }

  .cart-buttons {
   margin-bottom: 25px;
  }

  .pay-proceed,
  .clear-btn {
    width: 90%;
  }

  .checkout-btn,
  .clear-btn {
    font-size: 15px;
    height: 42px;
  }
  .product-info{
    margin-top: 15px;
  }
}
@media (max-width: 1024px) {
.top-section{
  gap:0;
  margin-left: 21px;
}
.details-section {
  width: 70%;
}

}
@media (max-width: 600px) {
  .top-section{
  gap:0;
  margin-left: 0;
}
  .cart-table {
    display: block;
    overflow-x: auto;
    white-space: nowrap;
  }

  .cart-table th,
  .cart-table td {
    font-size: 13px;
    padding: 6px;
  }

  .cart-buttons {
    flex-direction: column;
  }

 
  .clear-btn {
   margin-bottom: 50px;
  }

  .whatsapp-info {
    font-size: 0.8rem;
  }
}

@media (max-width: 480px) {
  .product-page{
    justify-content: center !important;
    margin: auto !important;
    
  }
  .cart-page h3 {
    font-size: 1.2rem;
  }

  .cart-footer p {
    font-size: 0.9rem;
  }

  .cart-buttons{
    align-items: center;
  }
  .checkout-btn,
  .clear-btn {
    font-size: 14px;
    height: 40px;
  }

  .cart-table {
    width: 100%;
  }
}
@media (max-width: 480px) {
      .details-section{
        width: 100%;
      }
          
.info-item{
            flex-direction: column;
          }

}