.shoping-page-container{
    padding: 60px 0;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 80px;
    position: relative;
}

/* .shoping-page-container .cards-display {
   margin: 0 !important;
  display: grid;
  grid-template-columns: repeat(2, minmax(300px, 1fr));
  gap: 15px;
} */

.shoping-page-container .shop-content {
  display: flex;
  gap: 1rem;

  
}



.basket-decor{
  max-width: 250px;
  position: absolute;
  bottom: -180px;
  right:80px;
  z-index: 2;
}
@keyframes gentleFloat {
  0% {
    transform: rotate(0deg) translateY(0);
  }
  50% {
    transform: rotate(3deg) translateY(-5px);
  }
  100% {
    transform: rotate(0deg) translateY(0);
  }
}

.basket-decor {
    will-change: transform;
  animation: gentleFloat 4.5s ease-in-out infinite;
}



.shoping-page-container .shop-content .cards-display.with-sidebar {
  display: grid ;
  grid-template-columns: repeat(2, 1fr) ;
  gap: 1.5rem;
 
  flex: 1;
}


.shoping-page-container .cards-display.full-width {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.5rem;
  flex: 1;
  
}

.shoping-page-container .shop-content .cards-display.with-sidebar .card{
   max-height:410px;
}


.shoping-page-container .filter-toggle {
  margin-left: 10px;
  cursor: pointer;
  color: #555;
  transition: all 0.3s ease;
}

.shoping-page-container .filter-toggle:hover{
  transform: scale(1.1);
}

.shoping-page-container .filter-toggle.active {
  color: var(--hero-text-color);
}

 @media (max-width: 1024px) {
  .basket-decor{
  max-width: 200px;
  position: absolute;
  bottom: -160px;
  right:0px;
  z-index: 2;
}}


@media (max-width: 992px) {
  .shoping-page-container .shop-content .cards-display.with-sidebar,
  .shoping-page-container .cards-display.full-width {
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;

    
  }

  .shoping-page-container .shop-content .cards-display.with-sidebar .card{
    min-height:  400px;

  }
  .basket-decor{
  max-width: 200px;
  position: absolute;
  bottom: -160px;
  right:0px;
  z-index: 2;
}
}


 @media (max-width: 765px) {
  .shoping-page-container .shop-content .cards-display.with-sidebar,
  .shoping-page-container .cards-display.full-width {
    grid-template-columns: repeat(1, 1fr);
    gap: 1rem;
    /* width: 320px; */

    min-width: 320px;
    
  }

  .shoping-page-container .shop-content .cards-display.with-sidebar .card{
    min-height:  400px;

  }
  .basket-decor{
  max-width: 200px;
  position: absolute;
  bottom: -180px;
  right:0px;
  z-index: 2;
}
}


 @media (max-width: 600px) {
  .basket-decor{
  max-width: 150px;
  position: absolute;
  bottom: -140px;
  right:0px;
  z-index: 2;
}}

 @media (max-width: 480px) {
  .basket-decor{
  max-width: 120px;
  position: absolute;
  bottom: -130px;
  right:0px;
  z-index: 2;
}}