.shoping-page-container{
    padding: 60px 0;
    display: flex;
    justify-content: space-evenly;
}

/* .shoping-page-container .cards-display {
   margin: 0 !important;
  display: grid;
  grid-template-columns: repeat(2, minmax(300px, 1fr));
  gap: 15px;
} */

.shoping-page-container .shop-content {
  display: flex;
  gap: 1rem;

  
}


.shoping-page-container .shop-content .cards-display.with-sidebar {
  display: grid ;
  grid-template-columns: repeat(2, 1fr) ;
  gap: 1.5rem;
 
  flex: 1;
}


.shoping-page-container .cards-display.full-width {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.5rem;
  flex: 1;
}
.shoping-page-container .shop-content .cards-display.with-sidebar .card{
   max-height: 280px;
}


.shoping-page-container .filter-toggle {
  margin-left: 10px;
  cursor: pointer;
  color: #555;
  transition: all 0.3s ease;
}

.shoping-page-container .filter-toggle:hover{
  transform: scale(1.1);
}

.shoping-page-container .filter-toggle.active {
  color: var(--hero-text-color);
}


@media (max-width: 992px) {
  .shoping-page-container .shop-content .cards-display.with-sidebar,
  .shoping-page-container .cards-display.full-width {
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;

    
  }

  .shoping-page-container .shop-content .cards-display.with-sidebar .card{
    min-height:  400px;

  }
}


 @media (max-width: 765px) {
  .shoping-page-container .shop-content .cards-display.with-sidebar,
  .shoping-page-container .cards-display.full-width {
    grid-template-columns: repeat(1, 1fr);
    gap: 1rem;
    width: 320px;
    
  }

  .shoping-page-container .shop-content .cards-display.with-sidebar .card{
    min-height:  400px;

  }
}
