.circle-nav-container {
  position: fixed;
  left: -100px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10000;
  padding: 100px; 
  margin-left: -100px; 
}
   

.circle-btn {
  width: 170px;
  height: 170px;
  border-radius: 50%;
  background: var(--button-background);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 28px;
  color: var(--hero-text-color);
  cursor: pointer;
  position: relative;
  animation: pulse 2s infinite;
  transition: transform 0.3s ease;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.15);
}

.circle-btn:hover {
  transform: scale(1.1);
}

 
@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(192, 227, 153, 0.6);
  }
  70% {
    box-shadow: 0 0 0 20px rgba(192, 227, 153, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(192, 227, 153, 0);
  }
}

 
.circle-arrow {
  position: absolute;
  right: 35px;
  font-size: 34px;
  color: var(--hero-text-color);
  animation: moveArrow 1.2s infinite alternate ease-in-out;
  filter: drop-shadow(0 0 4px rgba(0, 0, 0, 0.3));
}

@keyframes moveArrow {
  from {
    transform: translateX(0);
    opacity: 0.6;
  }
  to {
    transform: translateX(12px);
    opacity: 1;
  }
}

 
.circle-links {
  position: absolute;
  top: 43%;
  right: 35%;
  transform: translate(50%, -50%);
  pointer-events: none !important;
  transition: all 0.3s ease;
  
}

.circle-link {
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
  opacity: 0;
  pointer-events: none;
  z-index: 0;
}

.circle-nav-container .circle-link .nav-icon {
  filter: drop-shadow(0 0 6px rgba(0, 0, 0, 0.3));
  width: 55px !important;
  height: 55px;
}


.circle-nav-container.open .circle-link {
  opacity: 1;
  pointer-events: auto;
}

.circle-nav-container.open .circle-link:nth-child(1) {
  transform: rotate(-65deg) translate(100px) rotate(65deg);
}

.circle-nav-container.open .circle-link:nth-child(2) {
  transform: rotate(-20deg) translate(100px) rotate(20deg);
}

.circle-nav-container.open .circle-link:nth-child(3) {
  transform: rotate(20deg) translate(100px) rotate(-20deg);
}

.circle-nav-container.open .circle-link:nth-child(4) {
  transform: rotate(65deg) translate(100px) rotate(-65deg);
}


@media (max-width: 1100px) {
  .circle-nav-container {
  left: -108px;
}
.circle-btn {
  width: 165px;
  height: 165px;
}

.circle-btn:hover {
  transform: scale(1.1);
}


.circle-arrow {
  position: absolute;
  right: 30px;
  font-size: 30px;
  color: var(--hero-text-color);
  animation: moveArrow 1.2s infinite alternate ease-in-out;
  filter: drop-shadow(0 0 4px rgba(0, 0, 0, 0.3));
}


.circle-links {
  position: absolute;
  right: 38%;
  transform: translate(50%, -50%);
  transition: all 0.3s ease;
  pointer-events: none !important;
  
}




}
.circle-btn {
  z-index: 2; 
}

.circle-links {
  z-index: 1; 
}


@media (max-width: 480px) {
  .circle-nav-container {
    display: none;
  }
}
