:root {
  --hero-background: #f8f0df;
  --hero-text-color: #6a3c0a;
  --button-background: #c0e399;
  --lable-background: #f8afb5;
  --button-hover: #a8d88c;
  --brown-hover: #462707;
  --main-background: #fefbf3;
}

body {
  font-family: "Kufam", sans-serif;
}

.nav-bar {
  width: 100%;
  z-index: 1000;
  background-color: #c0e399;
  display: flex;
  align-items: center;
  height: 60px;
  direction: rtl;
  position: sticky;
  top: 0;
}
.nav {
  justify-content: space-evenly;
  display: flex;
  align-items: center;
}

.nav-bar .logo {
  height: 60px;
  margin: auto !important;
  
}

.Navs_links {
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
}

.nav-link{
  padding: 8px;
}

.links {
  display: none ;
  /* display: flex; */
  align-items: center;
}

.nav-link-img {
  height: 30px;

  margin: 0 10px;
}


.nav-icon {
  color: #000;
  transition: transform 0.2s ease;
}

.nav-link:hover {
  transform: scale(1.05);
}

.nav-icon {
  width: 50px;
  height: 50px;
  object-fit: contain;
  transition: transform 0.2s ease, opacity 0.2s ease;
}

.nav-icon:hover {
  transform: scale(1.1);
  /* opacity: 0.9; */
}


.search {
  display: flex;
  align-items: center;
  justify-content: center;
  /* margin-right: 10px; */
  background-color: white;
  border-radius: 20px;
  width: 55% ;
  height: 40px;
  direction: rtl;
  border: #000 solid 1px;
}
.search input {
  width: 85%;
  height: 30px;
  border: none;
  padding: 15px;
  font-size: 12px !important;
}
.search input:focus {
  outline: none;
}

.nav_user {
  display: flex;
  align-items: center;
  gap: 25px;
}

.nav_account {
  display: flex;
  align-items: center;
  /* margin-right: 10px; */
  position: relative;
}

.user-icon {
  height: 38px;
  width: 38px;
}

.arrow-icon {
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  bottom: -5px;
  left: 0;
}

.fav-icon-wrapper {
  position: relative;
  cursor: pointer;
}

.fav-icon {
  transition: transform 0.2s ease;
}

.fav-icon-wrapper:hover .fav-icon {
  transform: scale(1.1);
}

/* الدائرة الحمراء */
.fav-count {
  position: absolute;
  top: -6px;
  right: -8px;
  background-color: red;
  color: white;
  border-radius: 50%;
  font-size: 11px;
  font-weight: bold;
  width: 18px;
  height: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* القائمة المنسدلة */
.fav-dropdown {
  position: absolute;
  top: 55px;
  left: 0;
  width: 250px;
  background: #fff;
  border: 1px solid #eee;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding: 10px;
  z-index: 999;
}
.cart-dropdown{
position: absolute;
  top: 55px;
  left: 0;
  width: 220px;
  background: #fff;
  border: 1px solid #eee;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding: 10px;
  z-index: 999;

}
.fav-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 6px 0;
  border-bottom: 1px solid #f2f2f2;
}

.fav-item:last-child {
  border-bottom: none;
}

.fav-thumb {
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 6px;
  margin-right: 8px;
   margin-left: 8px;
}

.fav-details {
  flex: 1;
}

.fav-name {
  font-size: 13px;
  font-weight: 600;
  margin: 0;
}

.fav-price {
  font-size: 12px;
  color: #777;
}

.fav-delete {
  color: #d11a2a;
  font-size: 14px;
  cursor: pointer;
}

.empty-fav {
  text-align: center;
  color: #888;
  padding: 10px;
  font-size: 14px;
}



.menu-icon {
  display: none;
  cursor: pointer;
  width: 30px;
  padding: 3px;
  border-radius: 5px;
  background-color: var(--button-hover);
  transition: transform 0.2s ease;
}

.menu-icon:hover {
  transform: scale(1.1);
}



@media (max-width: 992px) {
 

.search{
  width: 80% !important;
}

  .search input{
    font-size: 13px !important;
  }


/* 
  .nav-link-img {
    margin: 10px 0;
    height: 25px;
  } */
  .fav-dropdown{
    left: -10px;
    width: 240px;
  }
  .fav-thumb{
    margin-right: 0;
  }
}

@media (max-width: 480px) {
   .menu-icon {
    display: block;
    color: #000;
    
  }
  .Navs_links {
    display: none;
    flex-direction: column;
    background: var(--main-background);
    position: absolute;
    top: 70px;
    left:20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    padding: 25px 10px;
    z-index: 1000;
    width: 90%;
  }
.link{
  display: flex;
  
}
  .Navs_links.open {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
  }
  
  .Navs_links.open .nav-link {
    padding: 8px;
  }

   .Navs_links.open .links {
    display: flex;
    /* justify-content: center; */
    /* flex-direction: column; */
    gap: 0px;
    align-items: center;
  }
 .nav_user{
  gap: 15px;
 }

  .logo {
    height: 42px;
}
.search{
  width: 90%;
}
.fav-dropdown{
    left: -10px;
    top: 55px;
    width: 250px;
  }
  .fav-thumb{
    margin-right: 0;
  }

}



