:root {
  --hero-background: #f8f0df;
  --hero-text-color: #6a3c0a;
  --button-background: #c0e399;
  --label-background: #f8afb5;
  --brown-hover: #462707;
}

.filters-sidebar {
  direction: rtl;
  width: 300px;
  background: var(--hero-background);
  border: 1px solid #000;
   box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding: 30px 40px ;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 23px;
  color: #000;
  height: 70vh;
}


.filters-header {
  width: 100%;
  direction: ltr;
  display: flex;
  align-items: center;
  justify-content: space-between !important;
  font-weight: 700;
  font-size: 17px;
  color: var(--hero-text-color);
}

.reload-icon {
  /* transform: scaleX(-1); عشان الأيقونة تبقى في الاتجاه العربي */
  margin-top: -8px;
}

.divider {
  border-top: 1px solid #000 ;
  width: 100%;
  margin: 0px 0 10px 0;
}

.filter-group1 {
  display: flex;
align-items: center;
  gap: 6px;
}
.filter-group2 {
    width: 80%;
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin: 0 !important;
}
.filter-group2 .filter-label{
    margin: 0 !important;
    display: flex;

}

.filter-label {
  font-weight: 600;
  font-size: 16px;
}

.filter-select {
  width: 100%;
  padding: 6px 10px;
  border: 1px solid #000;
  border-radius: 8px;
  background: #fff;
  font-size: 14px;
}


.price-inputs {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.price-inputs input {
  width: 35%;
  padding: 5px;
  border: 1px solid #000;
  border-radius: 6px;
  background-color: #fff;
  text-align: center;
}

.price-inputs span {
  font-weight: 600;
  font-size: 13px;
}


.checkboxes {
  display: flex;
  flex-direction: column;
  /* align-items: self-end; */
  margin-right: 60px;
  gap: 10px;

}


.checkboxes label {
  font-size: 15px;
  display: flex;
  align-items: center;
  gap: 6px;
  cursor: pointer;

}
.box-content{
    display: flex;
  flex-direction: column;
  align-items: self-start;
  gap: 10px;
}

.reload-icon:hover{
  transform: scale(1.1);
  cursor: pointer;
}


@media (max-width: 992px) {
  .filters-overlay {
    position: fixed;
    top: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.4);
    z-index: 1000;
    display: flex;
    justify-content: flex-end;
    animation: fadeIn 0.3s ease-in-out;
  }

  .filters-sidebar {
    padding: 0;
    width: 100%;
    max-width: 320px;
    height: 100%;
    background: var(--hero-background);
    border-radius: 0;
    /* box-shadow: -4px 0 12px rgba(0, 0, 0, 0.15); */
    padding: 25px;
    animation: slideIn 0.4s ease forwards;
    overflow-y: auto;
    border: none;
  }


  @keyframes slideIn {
    from {
      transform: translateX(100%);
      opacity: 0;
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
}
