.cards-display {
  position: relative; /* علشان نقدر نوسّط العنصر جواه */
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr)); /* أو حسب تصميمك */
  gap: 20px;
   min-height: 60dvh ;
}

/* الرسالة تاخد مساحة الكونتينر بالكامل */
.no-results-message {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
  color: #555;
  font-size: 1.2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  pointer-events: none; /* علشان متعطلش أي كليك لو فيه عناصر تحتها */
}





.no-results-img {
    width: 300px;
    /* opacity: 0.9; */
    align-self: center;
    margin-bottom: 16px;
}



@media (max-width: 768px) {
  .filters-sidebar-container{
    max-width: 280px;
    /* background-color: #555; */
  }

}
