:root {
  --main_background: #fefbf3;
}
body {
  font-family: "Kufam", sans-serif;
  background-color: var(--main_background);
  /* padding-top: 60px; */
  overflow-x: hidden !important;
  overflow-y: auto !important;
}

/* .App {
  text-align: center;
} */

::-webkit-scrollbar-thumb {
  background-color: #c0e399;
  border-radius: 3px;
  z-index: 10001;
  border: #000 solid 1px;
}
::-webkit-scrollbar {
  width: 10px;
  z-index: 10001;
  border: #000 solid 1px;
  background-color: #fff;
  border-radius: 3px;
}


@media (max-width: 1280px) {
  /* إخفاء شكل السكرول في الشاشات الصغيرة */
  ::-webkit-scrollbar {
    display: none;
  }

  /* للمتصفحات اللي مش WebKit زي Firefox */
  body {
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* Internet Explorer و Edge القديم */
  }
}

@media (max-width: 768px) {
  /* إخفاء شكل السكرول في الشاشات الصغيرة */
  ::-webkit-scrollbar {
    display: none;
  }

  /* للمتصفحات اللي مش WebKit زي Firefox */
  body {
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* Internet Explorer و Edge القديم */
  }
}
