:root {
  --main_background: #fefbf3;
}
body {
  font-family: "Kufam", sans-serif;
  background-color: var(--main_background);
  /* padding-top: 60px; */
  overflow-x: hidden;
}

/* .App {
  text-align: center;
} */

::-webkit-scrollbar-thumb {
  background-color: #c0e399;
  border-radius: 3px;
  z-index: 10001;
  border: #000 solid 1px;
}
::-webkit-scrollbar {
  width: 10px;
  z-index: 10001;
  border: #000 solid 1px;
  background-color: #fff;
  border-radius: 3px;
}
